#gws-output-pages-elements-homepage_additional_languages__als #SIvCob {
  padding: 4px 12px;
  border-radius: 4px;
}

#appbar, #gb, .jZWadf, .sfbg, .Ww4FFb, .s8GCU, .Lj9fsd {
  background: none !important;
}

div[data-ogsr-up].gb_1d {
  padding-left: 0;
  border-radius: 4px;
}

.gbae__brightness-full {
  filter: brightness(1);
}

.gbae__brightness-dark {
  filter: brightness(0.3);
}

.gbae__img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -999;
}